*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Castoro", serif;
  font-size: 24px;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  opacity: 0.5;
}

/* -------------------------------- */
.fs_128 {
  font-size: 128px;
  letter-spacing: 15.36px;
}

.fs_40 {
  font-size: 40px;
  color: #ae0000;
}

.fs_32 {
  font-size: 32px;
}

.fs_20 {
  font-size: 20px;
  color: #949494;
  font-style: italic;
}

.mb_8 {
  margin-bottom: 8px;
}

.mb_12 {
  margin-bottom: 12px;
}

.mb_16 {
  margin-bottom: 16px;
}

/* title共通樣式 */
.bg-title {
  border-bottom: 3px solid #ae0000;
  margin-top: 40px;
  margin-bottom: 16px;
}

/* ----------------------------------------------------- */

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

/* ------header------ */
.header {
  margin-top: 160px;
}

.header-pic {
  margin: 0 auto;
}

.header-resume {
  text-align: end;
}

/* selfIntro */
.selfIntro {
  padding: 48px 0;
  background-color: #EFEFEF;
}
.selfIntro-describe {
  width: 636px;
  margin-left: auto;
}

/* background */
.background {
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 160px;
}
.bg-content{
  width: 636px;
}

/* footer */
.footer{
  background: #000;
  padding: 64px 0;
}
.footer-content {
  text-align: center;
  font-size: 0; 
  /* font-size: 0解决使用 inline-block 引起的空白 */
}
.footer-item {
  display: inline-block;
  margin: 0 20px;
}